
.show-grid [class*="span"] {
  background-color: #EEE;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  min-height: 30px;
  line-height: 30px;
}

.materials.thumbnails li {
  background-color: #ffffff;
}

.padding1 .materials {
  margin-right: 5px;
  margin-left: -25px;
  margin-top: 5px;
}

.materials .span2 {
  width: 150px;
}
