
.light-bkg {
  background-color: #EEE;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.materials.thumbnails li {
  background-color: #ffffff;
}

.padding1 ul.materials {
  margin-right: 5px;
  margin-left: -5px;
  margin-top: 5px;
}
.padding1.span4 ul.materials {
  margin-left: 14px;
}

.padding1 ul.materials li {
  margin-left: 15px;
}

ul.materials .span2 {
  width: 150px;
}



#added_materials_list {
  width: 100%;
  min-height: 200px;
}

#added_materials, #available_materials {
  height: 480px;
  overflow-y: scroll;
}

#drag_to_add { 
  margin-top: 60px;
  background: #eeeeee;
  font-size: 21px;
  line-height: 30px;
  text-align: center;
  color: #666666;
}

.material .thumbnail .placeholder {
  margin: 0 auto;
  width: 120px;
  height: 100px;
  background-image: url(http://placehold.it/120x100);
}
.material .thumbnail .img {
  margin: 0 auto;
  width: 120px;
  height: 100px;
}

/* Total Values */
#total_values {
  margin-top: 30px;
}

#total_values td {
  width: 100px;
}

#total_values th {
  width: 100px;
  vertical-align: top;
  text-align: left;
  font-size: 24px; 
  line-height: 24px;
  padding-bottom: 30px;
}

.total_value {
  font-size: 72px;
}


