
.show-grid [class*="span"] {
  background-color: #EEE;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  min-height: 30px;
  line-height: 30px;
}

.materials.thumbnails li {
  background-color: #ffffff;
}

.padding1 ul.materials {
  margin-right: 5px;
  margin-left: -5px;
  margin-top: 5px;
}
.padding1.span4 ul.materials {
  margin-left: 14px;
}

.padding1 ul.materials li {
  margin-left: 15px;
}

ul.materials .span2 {
  width: 150px;
}



#added_materials {
  width: 100%;
  min-height: 200px;
}

.material .thumbnail .img {
  width: 120px;
  height: 100px;
}

.material .thumbnail .placeholder {
  background-image: url(http://placehold.it/120x100);
}

